.siteIntro {
  z-index: 1000;
  position: fixed;
  width: 15%;
  height: 25%;
  right: 1%;
  top: 2%;
}

.introHeader {
  font-size: 2em;
  font-weight: bold;
}

.inlineHeaderEmphasis {
  color: red;
}